{#
    <twig:c975LSite:General:RichSnippet
        itemscope="https://schema.org/XXX"
        name=""
        description=""
        [openingHours=""]
        [image="images/og-image.svg"]
        [priceRange=""]
        [addressStreetAddress=""]
        [addressAddressLocality=""]
        [addressPostalCode=""]
        [addressAddressCountryCode=""]
        [addressAddressCountryName=""]
        [telephone=""]
    />
#}
{% trans_default_domain 'site' %}
<div itemscope itemtype="{{ itemscope }}" class="rich-snippet">
    <span itemprop="name">{{ name }}</span><br><br>
    {% if image is defined %}
        <img src="{{ asset(image) }}" alt="{{ name }}" height="50"><br>
        <span itemprop="image" class="sr-only">{{ absolute_url(asset(image)) }}</span>
    {% endif %}
    <span itemprop="description">{{ description }}</span><br>
    {% if openingHours is defined %}
        <br><span>{{ 'label.opening_hours'|trans }}<br><span itemprop="openingHours">{{ openingHours }}</span></span><br>
    {% endif %}
    {% if priceRange is defined %}
        <br><span>{{ 'label.price_range'|trans }} : <span itemprop="priceRange">{{ priceRange }}</span></span><br>
    {% endif %}
    {% if addressStreetAddress is defined or addressPostalCode is defined or addressAddressLocality is defined or addressAddressCountryCode is defined or addressAddressCountryName is defined %}
        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <br><span>{{ 'label.address'|trans }}</span><br>
            {% if addressStreetAddress is defined %}
                <span itemprop="streetAddress">{{ addressStreetAddress }}</span><br>
            {% endif %}
            {% if addressPostalCode is defined %}
                <span itemprop="postalCode">{{ addressPostalCode }}</span>
            {% endif %}
            {% if addressAddressLocality is defined %}
                <span itemprop="addressLocality">{{ addressAddressLocality }}</span><br>
            {% endif %}
            {% if addressAddressCountryName is defined %}
                <span>{{ addressAddressCountryName }}</span>
            {% endif %}
            {% if addressAddressCountryCode is defined %}
                <span itemprop="addressCountry" class="sr-only">{{ addressAddressCountryCode }}</span>
            {% endif %}
        </div>
    {% endif %}
    {% if telephone is defined %}
        <br>
        <span>{{ 'label.phone'|trans }} : <span itemprop="telephone">{{ telephone }}</span></span>
    {% endif %}
</div>