{% trans_default_domain 'site' %}

{#
Variables used in this template and that must be define in your calling template
site
#}

{% block alertFrench %}
    {% if app.request.locale != 'fr' %}
        <p class="alert alert-info text-center">
            {{ 'text.only_french'|trans }}
        </p>
    {% endif %}
{% endblock %}

{% block rightsReserved %}
    <h2>Tous Droits Réservés</h2>
    <p class="text-center">
        <strong>Tous les droits de tous types, en tous pays et en toutes langues sont réservés à {{ site }}.</strong>
    </p>
    <p class="text-justify">
        Les marques citées sur <strong>{{ site }}</strong> sont des marques déposées ou des marques commerciales appartenant à leurs propriétaires respectifs.
    </p>
    <p class="text-justify">
        <strong>{{ site }}</strong> est protégé par les lois internationales sur le droit d'auteur et la protection de la propriété intellectuelle.<br />
        Il est strictement interdit de le reproduire, dans sa forme ou son contenu, totalement ou partiellement, sans un accord écrit de l'auteur.<br />
        De même, tous les documents et photos hébergées sur ce <strong>{{ site }}</strong> font l'objet d'un copyright protégeant leurs auteurs respectifs.
    </p>
    <p class="text-justify">
        En France, la loi du 11 Mars 1957, n'autorise, au terme des alinéas 2 et 3 de l'article 4, d'une part, que « les copies ou reproductions strictement réservées à l'usage privé du copiste et non destinées à une utilisation collective » et, d'autre part, que les analyses et les courtes citations dans un but d'exemple et d'illustration, « toute représentation ou reproduction, intégrale ou partielle, faite sans le consentement de l'auteur ou de ses ayants droit ou ayants cause, est illicite » (alinéa premier de l'article 40).<br />
        Cette représentation ou reproduction, constituerait donc une contrefaçon sanctionnée par les articles 425 et suivants du Code pénal français.
    </p>
{% endblock %}

{% block intellectualProperty%}
    <h2>Propriété intellectuelle</h2>
    <p class="text-justify">
        Les éléments du site web, notamment les textes, présentations, illustrations, photographies, arborescences et mises en forme sont notre propriété exclusive ou celle de nos partenaires.
    </p>
    <p class="text-justify">
        Toute représentation, reproduction, extraction, copie ou utilisation et ce par quelque moyen que ce soit sans notre accord ou celui de nos partenaires constituera une contrefaçon susceptible d'entraîner des poursuites judiciaires. Le contrevenant s'expose à des sanctions civiles et pénales et notamment aux peines prévues aux articles L. 335.2 et L. 343.1 du Code de la propriété intellectuelle.
    </p>
{% endblock %}

{% block copyright %}
    {# Override this block to list the external copyright used by your site or simply add the list after the `include()` in the template call #}
{% endblock %}