{# <twig:c975LSite:Image:Image src="your-path/file.ext" [class="your-css-classes"] [alt=""] width="width" height="height"/> #}
{% set class = class | default('') %}
{% set alt = alt | default('') %}
<p>
    <img src="{{ asset(src) }}" class="img img-responsive {{ class }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}" loading="lazy">
</p>