{# <twig:c975LSite:Image:Image src="your-path/file.ext" [c="your-css-classes"] [alt=""] w="width" h="height"/> #}
{% set c = c | default('') %}
{% set alt = alt | default('') %}
<p>
    <img src="{{ asset(src) }}" class="img img-responsive {{ c }}" alt="{{ alt }}" width="{{ w }}" height="{{ h }}" loading="lazy">
</p>