{% extends "@c975LSite/emails/fullLayout.html.twig" %}

{% set title = 'label.confirm_email_title'|trans({}, 'site') %}

{% block content %}
    <h2>{{ 'label.confirm_email_title'|trans({}, 'site') }}</h2>

    <p>
        {{ 'text.confirm_email_instructions'|trans({}, 'site') }} <br><br>
        <a href="{{ signedUrl|raw }}">{{ 'label.confirm_my_email'|trans({}, 'site') }}</a>.
        {{ 'text.link_expires_in'|trans({}, 'site') }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
{% endblock %}
