{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <section class="text-center">
        <h1>{{ ('label.management'|trans({}, 'site')) }}</h1>
        <p>{{ ('label.management_interface'|trans({}, 'site')) }}</p>
        <p>
            <a href="{{ path('site_management_page_index') }}" class="btn btn-primary">{{ ('label.pages'|trans({}, 'site')) }}</a>
            <a href="{{ path('site_management_article_index') }}" class="btn btn-primary">{{ ('label.articles'|trans({}, 'site')) }}</a>
        </p>
    </section>
{% endblock main %}