{% trans_default_domain 'site' %}

{% set updateDate = '2018-03-08' %}

{% block alertFrench %}
    {% if app.request.locale != 'fr' %}
        <twig:c975LUi:Alert:Alert type="info" class="text-center">
            {{ 'text.only_french'|trans({}, 'site') }}
        </twig:c975LUi:Alert:Alert>
    {% endif %}
{% endblock %}

{% block latestUpdate %}
    <p class="text text-center">
        {{ 'label.latest_update'|trans }} : {{ max(updateDate, latestUpdate)|format_datetime('long', 'none', '') }}
    </p>
{% endblock %}

{% block access %}
    <h2>Accès au site Internet</h2>
    <p class="text text-justify">
        Nous vous rappelons les caractéristiques et les limites du réseau Internet et déclinons toute responsabilité liée aux conséquences de votre connexion à ce réseau via <strong>{{ config('site-name') }}</strong>.<br>
        Plus particulièrement, nous ne saurions être tenus responsables de tout dommage, matériel ou immatériel causé à vos équipements informatiques et aux données qui y sont stockées, ni des conséquences pouvant en découler sur votre activité personnelle, professionnelle ou commerciale.<br>
        Nous ne saurions davantage être tenus responsables au cas où vous ne pourriez pas parvenir à vous connecter à <strong>{{ config('site-name') }}</strong> du fait de tout défaut technique ou de tout problème lié notamment à l'encombrement du réseau.
    </p>
{% endblock %}

{% block owner %}
    {% if config('site-owner') %}
        <h2>Propriétaire</h2>
        <p class="text text-justify">
            {{ config('site-owner')|raw }}
        </p>
    {% endif %}
{% endblock %}

{% block edition %}
    <h2>Édition</h2>
    <p class="text text-justify">
        Le directeur de la publication est <strong>{{ config('site-director') }}</strong> domicilié/e en <strong>{{ config('site-director-location') }}</strong>.
    </p>
{% endblock %}

{% block contact %}
    <h2>Contact</h2>
    <p class="text text-justify">
        Vous pouvez nous contacter par l'un des moyens suivants :
    </p>
    <ul class="text text-justify">
        <li>formulaire de contact</li>
        <li>{{ config('site-contact-email') }}</li>
        <li>par téléphone {{ config('site-contact-phone') }}</li>
    </ul>
{% endblock %}

{% block production %}
    <h2>Réalisation</h2>
    <p class="text text-justify">
        Ce site est réalisé par {{ config('site-producer')|raw }}.
    </p>
{% endblock %}

{% block hosting %}
    <h2>Hébergement site Internet</h2>
    <p class="text text-justify">
        Ce site Internet est hébergé par
    </p>
    {% block hostingProvider %}
        {# Override this block to give address of your hosting company or simply add it after the `include()` in the template call #}
    {% endblock %}
{% endblock %}