{% set updateDate = '2026-07-09' %}

<div class="legal">
	<p class="text text-center">
		{{ 'label.latest_update'|trans }} : {{ max(updateDate, latestUpdate)|format_datetime('long', 'none', '') }}
	</p>

	<section>
		<h2>Acceso al sitio web</h2>
		<div>
			Le recordamos las características y los límites de la red de Internet y declinamos toda responsabilidad por las consecuencias de su conexión a esta red a través de
			<strong>{{ config('site-name') }}</strong>.<br>
			En particular, no podremos ser considerados responsables de ningún daño, material o inmaterial, causado a sus equipos informáticos y a los datos almacenados en ellos, ni de las consecuencias que puedan derivarse para su actividad personal, profesional o comercial.<br>
			Tampoco podremos ser considerados responsables en caso de que usted no pueda conectarse a
			<strong>{{ config('site-name') }}</strong>
			debido a cualquier defecto técnico o a cualquier problema relacionado, en particular, con la congestión de la red.
		</div>
	</section>

	{% if config('site-owner') %}
		<section>
			<h2>Propietario</h2>
			<div>
				{{ config('site-owner')|raw }}
			</div>
		</section>
	{% endif %}

	<section>
		<h2>Edición</h2>
		<div>
			El director de la publicación es
			<strong>{{ config('site-director') }}</strong>
			con domicilio en
			<strong>{{ config('site-director-location') }}</strong>.
		</div>
	</section>

	<section>
		<h2>Contact</h2>
		<div>
			Puede contactarnos por uno de los siguientes medios:
		</div>
		<ul class="text text-justify">
			<li>formulario de contacto</li>
			<li>{{ config('site-contact-email') }}</li>
			<li>por teléfono
				{{ config('site-contact-phone') }}</li>
		</ul>
	</section>

	<section>
		<h2>Realización</h2>
		<div>
			Este sitio está realizado por
			{{ config('site-producer')|raw }}.
		</div>
	</section>

	<section>
		<h2>Alojamiento del sitio web</h2>
		<div>
			Este sitio web está alojado por
			<br>
			{{ config('site-hosting-provider')|raw|nl2br }}
		</div>
	</section>

	<section>
		<h2>Anexos</h2>
		{% set legalPages = site_legal_pages(['france/privacy-policy', 'france/terms-of-use', 'france/terms-of-sales', 'france/cookies', 'france/copyright']) %}
		{% if legalPages %}
			<ul class="text text-justify">
				{% for legalPage in legalPages %}
					<li><a href="{{ path('page_display', {page: legalPage.slug}) }}">{{ legalPage.title }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</section>
</div>
