{% trans_default_domain 'site' %}

{% set updateDate = '2018-03-08' %}
{#
Variables used in this template and that must be define in your calling template

- site : name of site
- latestUpdate : latest update on your side 'YYYY-MM-DD'
#}

{% block alertFrench %}
    {% if app.request.locale != 'fr' %}
        <p class="alert alert-info text-center">
            {{ 'text.only_french'|trans }}
        </p>
    {% endif %}
{% endblock %}

{% block latestUpdate %}
    <p class="text-center">
        {{ 'label.latest_update'|trans }} : {{ max(updateDate, latestUpdate)|format_datetime('long', 'none', '') }}
    </p>
{% endblock %}

{% block object %}
    <h2>Objet</h2>
    <p class="text-justify">
        Les présentes Conditions générales de vente (CGV) ont pour objet de définir les conditions contractuelles applicables à tout achat par un/e utilisateur/trice sur le site <strong>{{ site }}</strong>.
        Elles sont applicables dès leur publication.
    </p>
{% endblock %}

{% block acceptation %}
    <h2>Acceptation</h2>
    <p class="text-justify">
        Tout achat sur <strong>{{ site }}</strong> vaut acceptation pleine et entière des CGV en vigueur.
    </p>
{% endblock %}

{% block modification %}
    <h2>Modification</h2>
    <p class="text-justify">
        Nous nous réservons la possibilité de modifier, tout ou partie, et à tout moment, ces présentes CGV. Vous êtes invités à les consulter régulièrement pour prendre connaissance des changements apportés. Elles sont applicables au moment de leur publication.
    </p>
{% endblock %}

{% block services %}
{% endblock %}

{% block price %}
    <h2>Prix</h2>
    <p class="text-justify">
        Les prix appliqués sont ceux en vigueur au jour de l'achat sur <strong>{{ site }}</strong>. Ils peuvent être modifiés à tout moment. Tous nos prix sont indiqués "Toutes taxes comprises" (TTC).
    </p>
{% endblock %}

{% block payment %}
    <h2>Paiement</h2>
    <p class="text-justify">
        L'achat se fait par les moyens de paiement proposés sur <strong>{{ site }}</strong>.
    </p>
{% endblock %}

{% block refund %}
    <h2>Remboursement</h2>
    <p class="text-justify">
        Les services non consommés sont remboursables dans le cadre du délai légal de rétractation.<br>
    </p>
{% endblock %}

{% block retraction %}
    <h2>Rétractation</h2>
    <p class="text-justify">
        En application de l'article L 221-18 du code de la consommation, l'utilisateur/trice dispose d'un délai de quatorze (14) jours francs pour se rétracter et revenir sur ses engagements. Ce délai court à partir du lendemain de l’acceptation de l’offre dans le cas des prestations de service. Quand il expire un samedi, un dimanche ou un jour férié, il est prorogé jusqu’au prochain jour ouvrable. Toutefois, en validant le service, l'utilisateur/trice particulier/e accepte que nous commencions à exécuter la prestation immédiatement et renonce expressément à son droit de rétractation pour les services payants utilisés et consommés avant l'expiration du délai légal de rétractation.
        <br>
        La procédure de rétractation est la suivante :
        <ol>
            <li>Faire une demande de rétractation en nous contactant</li>
            <li>Vérification par nos services de la validité de la demande</li>
            <li>Acceptation et re-créditation sur le moyen de paiement utilisé du montant défini <strong>OU</strong> rejet de la demande avec explications</li>
        </ol>
    </p>
{% endblock %}

{% block responsability %}
    <h2>Responsabilité</h2>
    <p class="text-justify">
        Notre responsabilité ne peut pas être engagée en cas d'inexécution ou de mauvaise exécution de la commande due, soit du fait de l'utilisateur/trice, soit d'un cas de force majeure non durable dans le temps, dans ce cas contraire, une procédure de remboursement pourra être initiée.
    </p>
{% endblock %}

{% block disputes %}
    <h2>Litiges</h2>
    <p class="text-justify">
        En cas de litige, la procédure à suivre sera la suivante :
        <ol>
            <li>Nous contacter pour un traitement à l'amiable</li>
            <li>En cas d'échec, prendre contact avec un/e <a href="http://www.economie.gouv.fr/mediation-conso" rel="nofollow">médiateur/trice</a></li>
            <li>En dernier recours, saisie du tribunal compétent</li>
        </ol>
    </p>
{% endblock %}

{% block law %}
    <h2>Loi applicable - Attribution de compétence</h2>
    <p class="text-justify">
        Les présentes CGU sont soumises à la loi Française. Tout litige relatif à l'interprétation et à l'exécution de ces conditions sera de la compétence exclusive des tribunaux français et plus particulièrement de ceux localisés dans le départment Français du siège de l'entreprise éditrice de <strong>{{ site }}</strong>, que ce soit pour les utilisateurs/trices professionnel/les ou particuliers.
    </p>
{% endblock %}

{% block misc %}
    <h2>Divers</h2>
    <p class="text-justify">
        Si une partie des CGV devait s'avérer illégale, invalide ou inapplicable, pour quelque raison que ce soit, les dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres dispositions qui continueront de s'appliquer, sauf s'il s'agit d'une clause impulsive et déterminante ayant amené à l'achat sur <strong>{{ site }}</strong>.<br>
        Toute réclamation doit nous être adressée via les modalités de contact définies sur le site.<br>
        Les CGV sont soumises au droit Français.
    </p>
{% endblock %}