{# <twig:c975LSite:Audio:Audio src="your-path/file.ext" type="audio/mpeg"/> #}
<audio controls>
    <source src="{{ src }}" type="{{ type }}">
    <p>{{ 'label.audio_not_supported'|trans({}, "site") }} <a href="{{ src }}">{{ 'label.download'|trans({}, "site") }}</a></p>
</audio>