{# <twig:c975LSite:Video:Video src="your-path/file.ext" type="video/mp4" [poster="path/file.ext"] [autoplay="true"] [muted="true"] [class="your-css-classes"] [alt=""] [width="width"] [height="height"]/> #}
{% set class = class | default('') %}
{% set alt = alt | default('') %}
{% set width = width | default('auto') %}
{% set height = height | default('auto') %}
{% set poster = poster | default('') %}
{% set autoplay = autoplay | default(false) %}
{% set muted = muted | default(false) %}
{% set loop = loop | default(false) %}
<video controls class="img img-responsive {{ class }}" {% if poster != '' %} poster="{{ poster }}" {% endif %} {% if autoplay %} autoplay {% endif %} {% if muted %} muted {% endif %} {% if loop %} loop {% endif %} width="{{ width }}" height="{{ height }}">
    <source src="{{ src }}" type="{{ type }}">
    <p>{{ 'label.video_not_supported'|trans({}, "site") }} <a href="{{ src }}">{{ 'label.download'|trans({}, "site") }}</a></p>
</video>
