{# <twig:c975LSite:Slider:Slider slides="{{ slides }}" id="id"/> #}
{% if slides|length > 0 %}
    <div id="{{ id }}" class="slider" data-controller="slider" data-slider-id="{{ id }}">
        {% for slide in slides %}
            <div class="slider-item">
                <img src="{{ asset(slide) }}" alt="" class="slider-img img img-responsive img-rounded box-shadow" loading="lazy">
                {% if slide.credits is defined and slide.credits != "" %}
                    <p class="slider-credits">Credits : {{ slide.credits }}</p>
                {% endif %}
            </div>
        {% endfor %}
        {% if slides|length > 1 %}
            <div class="slider-dots">
                {% for slide in slides %}
                    <span class="slider-dot" dataset-number="{{ loop.index }}"></span>
                {% endfor %}
            </div>
            <p class="arrow arrow-left"><img src="{{ asset('bundles/c975lsite/images/angle-left.svg') }}" alt="left angle" class="angle" width="32" loading="lazy"></p>
            <p class="arrow arrow-right"><img src="{{ asset('bundles/c975lsite/images/angle-right.svg') }}" alt="right angle" class="angle" width="32" loading="lazy"></p>
        {% endif %}
    </div>
{% endif %}