{# Gets data from parameters set via c975L/ConfigBundle #}
{% if config('c975LCommon.site') != null %}
    {% set site = config('c975LCommon.site') %}
{% endif %}
{% if config('c975LCommon.author') != null %}
    {% set author = config('c975LCommon.author') %}
{% endif %}
{% if config('c975LCommon.firstOnlineDate') != null %}
    {% set firstOnlineDate = config('c975LCommon.firstOnlineDate') %}
{% endif %}
{% if config('c975LCommon.logo') != null %}
    {% set logo = absolute_url(asset(config('c975LCommon.logo'))) %}
{% endif %}
{% if config('c975LCommon.favicon') != null %}
    {% set favicon = absolute_url(asset(config('c975LCommon.favicon'))) %}
{% endif %}
{% if config('c975LCommon.appleTouchIcon') != null %}
    {% set appleTouchIcon = absolute_url(asset(config('c975LCommon.appleTouchIcon'))) %}
{% endif %}

{# Copyright #}
{% if firstOnlineDate is defined %}
    {% if firstOnlineDate|date('Y') == 'now'|date('Y') %}
        {% set copyright = '© ' ~  'now'|date('Y') %}
    {% else %}
        {% set copyright = '© ' ~ firstOnlineDate|date('Y') ~ ' - ' ~  'now'|date('Y') %}
    {% endif %}
{% endif %}
{% if copyright is not defined %}
    {% set copyright = '© ' ~  'now'|date('Y') %}
{% endif %}
{% if site is defined %}
    {% set copyright = copyright ~ ': ' ~ site %}
{% endif %}

{# ogImage #}
{% if (ogImage is not defined or ogImage == null) and logo is defined %}
    {% set ogImage = logo %}
{% endif %}

{# pageTitle #}
{% if title is defined and title != '' %}
    {% set pageTitle = title %}
{% endif %}
{% if site is defined %}
    {% if pageTitle is defined %}
        {% set pageTitle = pageTitle ~ ' - ' ~ site %}
    {% else %}
        {% set pageTitle = site %}
    {% endif %}
{% endif %}

{# Display #}
{% if display is not defined %}
    {% set display = 'html' %}
{% endif %}

{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{# Head #}
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width initial-scale=1.0">
                <meta name="format-detection" content="telephone=no">
{# Display for html #}
                {% if display != 'pdf' %}
                    <meta name="robots" content="index, follow">
{# Site #}
                    {% if site is defined %}
                        <meta property="og:site_name" content="{{ site }}">
                    {% endif %}
{# Twitter card #}
                    <meta name="twitter:card" content="summary">
{# Author #}
                    {% if author is defined %}
                        <meta name="author" content="{{ author }}">
                    {% endif %}
{# Copyright #}
                    {% if copyright is defined %}
                        <meta name="copyright" content="{{ copyright }}">
                    {% endif %}
{# Description #}
                    {% if description is defined and description is not empty %}
                        <meta name="description" content="{{ description }}">
                        <meta property="og:description" content="{{ description|slice(0,150) }}">
                        <meta name="twitter:description" content="{{ description|slice(0,200) }}">
                    {% endif %}
{# Title #}
                    {% if pageTitle is defined %}
                        <title>{{ pageTitle }}</title>
                        <meta name="title" content="{{ pageTitle }}">
                        <meta property="og:title" content="{{ pageTitle }}">
                        <meta name="twitter:title" content="{{ pageTitle }}">
                    {% endif %}
{# Type #}
                    <meta property="og:type" content="website">
{# Image #}
                    {% if ogImage is defined %}
                        <meta property="og:image" content="{{ ogImage }}">
                        <meta name="twitter:image" content="{{ ogImage }}">
                    {% endif %}
{# Url #}
                    <meta property="og:url" content="{{ app.request.uri }}">
                    <meta property="twitter:url" content="{{ app.request.uri }}">
                    <link rel="canonical" href="{{ app.request.uri }}">
{# Favicon #}
                    {% if favicon is defined%}
                        <link rel="icon" type="image/x-icon" href="{{ favicon }}">
                    {% endif %}
{# Apple-touch-icon #}
                    {% if appleTouchIcon is defined%}
                        <link rel="apple-touch-icon" href="{{ appleTouchIcon }}">
                        <link rel="apple-touch-icon-precomposed" href="{{ appleTouchIcon }}">
                    {% endif %}
{# hreflang #}
                    {% if languagesAlt is defined %}
                        {% for languageAlt, item in languagesAlt %}
                            {% if app.request.uri ends with '/' ~ app.request.locale %}
                                {% set sourceLanguage = '/' ~ app.request.locale %}
                                {% set targetLanguage = '/' ~ languageAlt %}
                            {% else %}
                                {% set sourceLanguage = '/' ~ app.request.locale ~ '/' %}
                                {% set targetLanguage = '/' ~ languageAlt ~ '/' %}
                            {% endif %}
                            <link rel="alternate" hreflang="{{ languageAlt }}" href="{{ app.request.uri|replace({(sourceLanguage): targetLanguage}) }}">
                        {% endfor %}
                    {% else %}
                        <link rel="alternate" hreflang="{{ app.request.locale }}" href="{{ app.request.uri }}">
                    {% endif %}
{# End display for html #}
                {% endif %}
{# Base #}
                <base href="{{ app.request.getSchemeAndHttpHost() ~ app.request.getBaseURL() ~ '/' }}">
            {% endblock %}
{# Stylesheets #}
            {% block stylesheets %}
                {% if display == 'pdf' %}
                    {{ inc_content(absolute_url(asset('bundles/c975lsite/css/styles.min.css')), 'local') }}
                {% else %}
                    {{ inc_lib(absolute_url(asset('bundles/c975lsite/css/styles.min.css')), 'local') }}
                {% endif %}
            {% endblock %}
        {% endblock %}
    </head>
{# Body #}
    <body id="up">
{# jQuery #}
        {% block jquery %}
        {% endblock %}
{# Block body #}
        {% block body %}
            {% if display != 'pdf' %}
{# backTop/pullDown bookmarks #}
                <a href="#" class="backTop"></a>
                <a href="#" class="pullDown"></a>
            {% endif %}
{# Header #}
            {% block header %}
                <header>
{# Navigation #}
                    {% if display != 'pdf' %}
                        {% block navigation %}
                        {% endblock %}
                    {% endif %}
    {# Logo print only #}
                    {% block logoPrintOnly %}
                        {% if site is defined or logo is defined %}
                            {% if display == 'pdf' %}
                                <div class="container-fluid text-center">
                            {% else %}
                                <div class="container-fluid text-center visible-print-block">
                            {% endif %}
                                <h1>
                                    {% if logo is defined %}
                                        <img src="{{ logo }}" height="80" alt="logo" title="logo">
                                    {% endif %}
                                    {% if site is defined %}
                                        {{ site }}
                                    {% endif %}
                                </h1>
                            </div>
                        {% endif %}
                    {% endblock %}
                </header>
            {% endblock %}
{# Title #}
            {% block main %}
                <main>
                    {% block title %}
                        {% if title is defined %}
                            <h1>
                                {{ title }}
                            </h1>
                        {% endif %}
                    {% endblock %}
{# Flashes #}
                    {% if display != 'pdf' %}
                        {% block flashes %}
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="flash alert alert-{{ label }} alert-dismissible text-center lead fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{ message|raw|nl2br }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endblock %}
                    {% endif %}
{# Container #}
                    {% block container %}
{# Content #}
                        {% block content %}
                        {% endblock %}
                    {% endblock %}
{# Share #}
                    {% if display != 'pdf' %}
                        {% block share %}
                        {% endblock %}
                    {% endif %}
{# NavigationBottom #}
                    {% if display != 'pdf' %}
                        {% block navigationBottom %}
                        {% endblock %}
                    {% endif %}
                </main>
            {% endblock %}
{# Footer #}
            <footer>
                {% block footer %}
                {% endblock %}
            </footer>
{# Display for html #}
            {% if display != 'pdf' %}
{# Javascript #}
                {% block javascripts %}
                    {{ inc_lib(absolute_url(asset('bundles/c975lsite/js/functions.min.js')), 'local') }}
{# CookieConsent #}
                    {% if cookieConsent.message is defined %}
                        {{ include('@c975LSite/fragments/cookieConsent.html.twig') }}
                    {% endif %}
{# Matomo #}
                    {% if matomo is defined %}
                        {{ include('@c975LSite/fragments/matomo.html.twig') }}
                    {% endif %}
                {% endblock %}
{# End display for html #}
            {% endif %}
        {% endblock %}
    </body>
</html>
{% endapply %}
