{# <twig:c975LSite:Menu:Menu items="{{ items }}" [logo="path/to/logo.svg"] [siteName="Site Name"]> #}
<nav class="menu" data-controller="menu">
    <div class="menu-header">
        {% if logo is defined %}
            <twig:c975LSite:Image:Link src="{{ asset(logo) }}" url="{{ path('page_home') }}" class="menu-logo" alt="{{ siteName|default('Logo') }}" width="40"/>
        {% endif %}

        {% if siteName is defined %}
            <p class="menu-site-name">{{ siteName }}</p>
        {% endif %}

        <button class="menu-toggle" data-action="click->menu#toggle" aria-label="{{ 'menu.toggle'|trans({}, 'site') }}" aria-expanded="false">
            <img src="bundles/c975lsite/images/bars.svg" class="menu-toggle-icon white" alt="" width="24" height="24">
        </button>
    </div>

    <ul class="menu-items" data-menu-target="items">
        {% for item in items %}
            <twig:c975LSite:Menu:MenuItem
                label="{{ item.label }}"
                url="{{ item.url }}"
                icon="{{ item.icon|default("") }}"
            />
        {% endfor %}
    </ul>
</nav>