<div class="text-center">
{# Legal notice #}
    <ul class="inline">
        <li><a href="https://autotech-automobile.fr{{ path('page_display', {'page': 'mentions-legales'}) }}">{{ 'label.legal_notice'|trans({}, 'site') }}</a></li>
        <li><a href="https://autotech-automobile.fr{{ path('page_display', {'page': 'politique-confidentialite'}) }}">{{ 'label.privacy_policy'|trans({}, 'site') }}</a></li>
        <li><a href="https://autotech-automobile.fr{{ path('page_display', {'page': 'conditions-utilisation'}) }}">{{ 'label.terms_of_use'|trans({}, 'site') }}</a></li>
    </ul>
{# Various #}
    <ul class="inline">
        <li><a href="https://autotech-automobile.fr{{ path('contactform_display') }}">{{ 'label.contact'|trans({}, 'contactForm') }}</a></li>
    </ul>
</div>