{% extends 'layout.html.twig' %}

{% set title = 'label.password_reset_email_sent'|trans({}, 'site') %}

{% block content %}
    <p>
        {{ 'text.password_reset_email_sent_info'|trans({}, 'site') }}
        {{ 'text.link_expires_in'|trans({}, 'site') }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'text.no_email_received'|trans({}, 'site') }} <a href="{{ path('app_forgot_password_request') }}">{{ 'label.try_again'|trans({}, 'site') }}</a>.</p>
{% endblock %}
