{% extends "@c975LSite/emails/fullLayout.html.twig" %}

{% set title = 'label.reset_password'|trans({}, 'site') %}

{% block content %}
    <p>{{ 'text.reset_password_instructions'|trans({}, 'site') }}</p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

    <p>{{ 'text.link_expires_in'|trans({}, 'site') }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
{% endblock %}
