{#
<twig:c975LSite:Card:Card id="id" title="Title" [level="h2"] [icon="{{ ['your-path/file.ext', 'your-css-classes', width, height] }}"] [lang="{{ language }}"]>
    Your content
</twig:c975LSite:Card:Card>
#}
{% set icon = icon | default('') %}
{% set lang = lang | default('') %}
<div class="card box-shadow {{ class|default('') }}" id="{{ id }}" data-animation="{{ dataAnimation|default('') }}" {% if lang %}lang="{{ lang|default('') }}"{% endif %}>
    {% if icon != "" %}
        <{{ level|default('h2') }} class="card-header"><twig:c975LSite:Image:Icon src="{{ icon[0] }}" class="{{ icon[1] }}" width="{{ icon[2] }}" height="{{ icon[3] }}"/> {{ title }}</{{ level|default('h2') }}>
    {% else %}
        <{{ level|default('h2') }} class="card-header">{{ title }}</{{ level|default('h2') }}>
    {% endif %}
    <div class="card-body">
        {% block content %}{% endblock %}
    </div>
</div>